
/// Colour to denote debug elements
/// @group framework
/// @access public
/// @type Color
$debug-colour					: $clr-primary !default;

/*---
Debug Placeholder
@group			Debug
@desc			Element which can be used as a quick placeholder to block out some functionality/styling
@author			Michael Ord
@tags			debug
---
<div class="d-placeholder"></div>

<div class="d-placeholder">Example description</div>
*/
.d-placeholder
{
	padding						: 0 1rem;
	position					: relative;
	background					: rgba($debug-colour, .2);
	text-align					: center;

	height						: 5rem;
	line-height					: 5rem;

	// make sure the copy is always on a single line
	overflow					: hidden;
	text-overflow				: ellipsis;
	white-space					: nowrap;
	user-select					: none;

	&--lg
	{
		height					: 15rem;
		line-height				: 15rem;
	}

	// if the element is empty, add some default placeholder text
	&:empty:before
	{
		content					: "[Placeholder]";
	}

	& + &
	{
		margin-top				: .5rem;
	}
}
